* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    background-color: #f9fafb;
    font-size: 10px;
}

.ir {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.wrapper {
    width: 600px;
    margin: 20px auto;
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #d7e2eb;
    border-radius: 20px;
    
}

.search {
    text-align: center;
    margin-bottom: 2rem;
}

.search .searchTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.search input {
    width: 65%;
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid #d7e2eb;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.search input:focus {
    outline: none;
    border-bottom: 1px solid #0078ff;
}

.search button {
    width: 55px;
    padding: 0.5rem;
    background-color: #d7e2eb80;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* li */

.problemList .problemItem {
    width: 100%;
    border: 1px solid #d7e2eb;
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.problemItem .problemTitle {
    font-size: 1.3rem;
    font-weight: 500;
}
.problemItem .partTitle {
    font-size: 0.8rem;
    color: #7890a0;
}

.problemItem .level {
    font-size: 0.9rem;
}